{% extends 'base.html' %}

{% block content %}
<div class="goals-container">
    <section class="zone-1">
    <h2 class="goals-headline">أهداف المركز</h2>
    <div class="goals-content">
        <h1>أهداف مركز ذي دوم:</h1>
        <ul>
            <li> 
                <h3> تعزيز البحث العلمي: </h3>
            العمل على تطوير ودعم الأبحاث العلمية في مجالات متعددة تشمل العلوم الاجتماعية والاقتصادية والسياسية، بهدف توفير معلومات دقيقة وموثوقة لصناع القرار.
            </li>
            <li>
                <h3> دعم الابتكار والتطوير: </h3>
            تشجيع الأفكار المبتكرة والمشاريع الريادية التي تسهم في تعزيز التنمية المستدامة والتقدم الاجتماعي والاقتصادي.
            
            </li>
            <li>
                <h3> تحليل السياسات:</h3>
            تقديم دراسات وتحليلات معمقة حول السياسات المحلية والإقليمية والدولية، مع التركيز على الآثار الاقتصادية والاجتماعية لهذه السياسات.
            
            </li>
            <li>
                <h3> التعليم والتدريب: </h3>
            تنظيم ورش عمل ودورات تدريبية تهدف إلى رفع مستوى المعرفة والمهارات لدى الباحثين وصناع القرار في مختلف المجالات.
            
            </li>
            <li> 
                <h3> التعاون الدولي:</h3>
            بناء شراكات مع مراكز الأبحاث والجامعات الدولية لتبادل الخبرات والمعرفة، وتعزيز التعاون في مشاريع بحثية مشتركة.
            
            </li>
            <li>
                <h3> تقديم الاستشارات: </h3>
            تقديم استشارات متخصصة للجهات الحكومية والخاصة في مجالات التخطيط الاستراتيجي واتخاذ القرارات بناءً على أبحاث دقيقة.
            </li>
        </ul>
    </div>
</section>
</div>
{% endblock %}
